/*
File: about.html
Author: Molnár Bence
Copyright: 2024, Molnár Bence
Group: Szoft I-1-N
Date: 2024-02-29
Github: https://github.com/molnárbence/
Licenc: GNU GPL
*/



body {
    background-color: orange;
    
}

